body {
	font:0.9em serif;
	/* max-width: 95%; */
	max-width: 100%;
	margin: auto;
	background-color: #D0D0DC;
}

body #container {
	/* background-image: url(http://orgmode.org/tmp/org-mode-unicorn.png); */
	/* background-repeat: no-repeat; */
	/* padding: 100px; */
	/* padding-top: 45px; */
	/* padding-bottom: 45px; */
	max-width: 900px;
	min-height: 900px;
	vertical-align:middle;
	margin:0 auto;
	margin-top: 10px;
	background-color: #fff;
}
body #mast {
	background-color: #EEE;
	max-width: 100%;
	height: 120px;
	margin-top: 10px;
	padding: 20px;
}
body #main {
	background-color: #fff;
	vertical-align:middle;
	margin:0 auto;
	margin-top: 10px;
	padding: 100px;
	padding-top: 10px;
	padding-bottom: 20px;
}
body #footer {
	background-color: #fff;
	max-width: 100%;
	margin-top: 10px;
	padding: 20px;
	height: 100px;
}